:root{
    box-sizing: border-box;/*убираем margin*/
}

*,
::before,
::after{
    box-sizing:inherit;
}

body{
    background-image: url(image/logo.jpg);
    background-repeat:repeat-y;
    overflow: hidden;
    background-size: cover;
    background-attachment: scroll;
}
.logo{
    position: absolute;
    top:20em;
    right: 5em;
    background-size: cover;
    background-image: url(image/logo.jpg);
}
.banner{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color:rgb(73, 69, 69);
    z-index: 100;
    opacity: 0.8;
}
.message{
    position: fixed;
    background-color: white;
    top: 30%;
    bottom: 30%;
    left: 10%;
    right: 10%;
    z-index: 101;
}
p{
    font-size: 2em;
    text-align: center;
}