body{
    width: 100%;
    background-color: #E19DE4;
    font-family: 'Pacifico', cursive;/*шрифт*/
    font-size: 24px;/*высота шрифта*/
    font-weight: 300;/*жирность шрифта*/
}

header{
    background-color: #F11AAD;
}
.conteiner__nav{
    list-style: none;/*убираем точки списка*/
    display: flex;/*располагаем список в линию по оси x*/
}


main{

}

footer{
    background-color: grey;
}

a{
    text-decoration: none;/*убираем подчеркивание*/
}

a:link{

}
a:visited{

}
a:hover{

}
a:active{

}